.title {
  @include font(34px, normal, 39px);
  font-family: Titan One;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.suptitle {
  @include font(18px, normal, 21px);
  font-family: Titan One;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}
